In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
from sklearn import tree

In [5]:
clf=tree.DecisionTreeClassifier()

In [3]:
X = [ [180, 15,0],                                                              
      [167, 42,1],                                                              
      [136, 35,1],                                                              
      [174, 15,0],                                                              
      [141, 28,1]]

In [4]:
Y = ['man', 'woman', 'woman', 'man', 'woman']

In [6]:
clf=clf.fit(X,Y)

In [7]:
h=input()
ha=input()
v=input()

180
15
1

In [9]:
p=clf.predict([[h,ha,v]])
print(p)

['woman']

In [10]:
from sklearn.model_selection import train_test_split 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import accuracy_score 
from sklearn import tree 
from sklearn.preprocessing import LabelEncoder

import pandas as pd 
import numpy as np

In [31]:
d=pd.read_csv('tennis.csv')

In [32]:
d.describe().T

         count unique     top freq
outlook     14      3   rainy    5
temp        14      3    mild    6
humidity    14      2  normal    7
windy       14      2   False    8
play        14      2     yes    9

In [33]:
d.isnull().sum()

outlook     0
temp        0
humidity    0
windy       0
play        0
dtype: int64

In [34]:
d

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [44]:

lb=LabelEncoder()

In [36]:
d['outlook']=lb.fit_transform(d['outlook'])

In [37]:
d['outlook']=lb.fit_transform(d['outlook'])
d['temp']=lb.fit_transform(d['temp'])
d['humidity']=lb.fit_transform(d['humidity'])
d['play']=lb.fit_transform(d['play'])
d['windy']=lb.fit_transform(d['windy'])

In [40]:
display(d)

    outlook  temp  humidity  windy  play
0         2     1         0      0     0
1         2     1         0      1     0
2         0     1         0      0     1
3         1     2         0      0     1
4         1     0         1      0     1
5         1     0         1      1     0
6         0     0         1      1     1
7         2     2         0      0     0
8         2     0         1      0     1
9         1     2         1      0     1
10        2     2         1      1     1
11        0     2         0      1     1
12        0     1         1      0     1
13        1     2         0      1     0

In [47]:
X=d.iloc[:,1:4]
y=d.iloc[:,4]

In [48]:
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=.3, random_state=100)

In [49]:
dt=DecisionTreeClassifier(criterion='entropy')

In [50]:
dt.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [52]:
p=dt.predict(X_test)

In [55]:
print(accuracy_score(y_test,p)*100)

60.0